extends layout

block content
  form.form-sign(role="form")
    h2.form-sign-heading Please sign up
    input.form-control(type="text", placeholder="user id", required, autofocus)
    input.form-control(type="signup-password", placeholder="password", required)
    input.form-control(type="signup-confirm-password", placeholder="confirm password", required)
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up
